.news-top-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 200ms;
}
.news-top-item .title {
  transition-duration: 200ms;
}
.news-top-item .img-container {
  overflow: hidden;
}
.news-top-item:hover img {
  transform: scale(1.1);
}
.news-top-item:hover .title {
  color: #C48C5E;
}

.news-item {
  position: relative;
}
.news-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition-duration: 200ms;
}
.news-item .title {
  transition-duration: 200ms;
}
.news-item .img-container {
  overflow: hidden;
}
.news-item:nth-child(even) {
  padding-top: 56px;
}
.news-item:hover img {
  transform: scale(1.1);
}
.news-item:hover .title {
  background: #142F4F;
  color: #FFF;
}

figure > img {
  margin-block: 20px;
}